Source: ros-kilted-libbno055-linux
Section: misc
Priority: optional
Maintainer: "lazytatzv" <lazytatzv@users.noreply.github.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-cmake-gtest <!nocheck>, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-diagnostic-msgs, ros-kilted-geometry-msgs, ros-kilted-lifecycle-msgs, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-rclcpp-lifecycle, ros-kilted-sensor-msgs, ros-kilted-std-srvs, ros-kilted-ros-workspace
Homepage: https://github.com/lazytatzv/libbno055-linux
Standards-Version: 3.9.2

Package: ros-kilted-libbno055-linux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-diagnostic-msgs, ros-kilted-geometry-msgs, ros-kilted-lifecycle-msgs, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-rclcpp-lifecycle, ros-kilted-sensor-msgs, ros-kilted-std-srvs, ros-kilted-ros-workspace
Description: C++17 driver and ROS 2 nodes for the Bosch BNO055 9-axis IMU on Linux, with Python, C, and Rust bindings.
